#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.label  {
  background-color: #61dafb;
  border-radius: 10px;
  padding: 10px;
  /* width: ; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
}
/* App.css */
.label {
  display: flex;
  align-items: center;
}

.label.Source span,
.label.Destination span {
  font-size: 1.5rem;
  line-height: 1;
}
.label .arrow{
  position: absolute;
  /* left:0; */
  background-color: #9da9ab;
  color: whitesmoke;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  top: 0%;
  border-radius: 3px;
}
.label .rightArrow{
  left: 0;
}
.label .leftArrow{
  right: 0;
}
.react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group{
  padding: 0px !important;
  border-radius: 10px !important;
}

.label .editLabel {
  font-size: small;

}
.label p{
  padding-left: 15px;
  padding-right: 15px;
}

.react-flow .react-flow__handle {
  width: 22px;
  height: 74px;
  border-radius: 3px;
  background-color: #73d225;


}

.react-flow .react-flow__handle-left {
  left: -10px;
}

.react-flow .react-flow__handle-right {
  right: -10px;
}

.react-flow .react-flow__node {
   /* height: 40px; */
  width: 200px; 
  justify-content: center;
  align-items: center;
  /* display: flex; */
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}

.addNode{
  border: 0.5px solid black;
}
